<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    <add key="filePath" value="C:\BulkTermSheet\"/>
    <add key="fileType" value="xlsx"/>
    
    <add key ="outputPath" value="C:\BulkTermSheet\Output\"/>
    

  </appSettings>
  <connectionStrings>
    <add name="CRMConnectionString" connectionString="Data Source=ATLCRMDBPRDV01;Initial Catalog=COMPETE_MSCRM;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>